.DS_Store
node_modules
.env
socialnetwork.db
socialnetwork.db-shm
socialnetwork.db-shm
socialnetwork.db-wal
socialnetwork.db-shm
backend/socialnetwork.db
node_modules/
backend/.socialnetwork.db
frontend/xx.md
backend/.socialnetwork.db
